<div id="floating-actions">
    {% if buttons is defined %}
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="fab">
            {% for button in buttons %}
                {% set id = (button.id is defined) ? button.id : loop.index %}
                <li>
                    <a id="{{ id }}"
                        {% if button.action is defined %}
                            {% if button.action_type == 'route' %}
                                href="{{ path(button.action) }}"
                            {% elseif button.action_type == 'javascript' %}
                                href="javascript: {{ button.action }}"  
                            {% endif %}
                        {% endif %}					
                    >
                        <span>{{ button.label }}</span>
                        <i class="material-icons">{{ button.icon }}</i>
                    </a>
                </li>	
            {% endfor %}
        </ul>
    {% endif %}

    <a id="fab"
       class="mdl-button mdl-js-button mdl-button--fab  mdl-button--mini-fab mdl-js-ripple-effect mdl-color--grey-800 mdl-color-text--white"

       {% if fab.action is defined %}
           {% if fab.action_type == 'javascript' %}
               href="javascript: {{ fab.action }}"
           {% elseif fab.action_type == 'route' %}
               href="{{ path(fab.action) }}"
           {% endif %}
       {% endif %}
       >
        <i class="material-icons">{{ fab.icon }}</i>
    </a>

    {% if fab.label is defined %}
        <div class="mdl-tooltip mdl-tooltip--top" for="fab">{{ fab.label }}</div>
    {% endif %}
</div>    
