{% extends '::base.html.twig' %}

{# BUTTONS #}
{% block header_actions -%}
    {% set buttons = [] %}

    {% set buttons = buttons|merge([{ icon: 'cloud_download', id: 'btn-export', label: 'Exportar' }]) %}
    
    {% if form is defined %}
        {% set buttons = buttons|merge([{ icon: 'filter_alt', id: 'btn-search', action_type: 'javascript', action: 'search.toggleSearch()', label: 'Pesquisar' }]) %}
    {% else %}
        {% set buttons = buttons|merge([{ icon: 'search', id: 'btn-search-on-screen', action_type: 'javascript', action: 'search.toggleSearchOnScreen()', label: 'Pesquisar' }]) %}
    {% endif %}

    {% include 'AppBundle:Core:header-actions.html.twig' with { 'buttons': buttons } %}
    
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="btn-export">
        <li class="mdl-menu__item btn-export" data-format="html">HTML</li>
{#        <li class="mdl-menu__item btn-export" data-format="pdf">PDF</li>#}
        <li class="mdl-menu__item btn-export" data-format="csv">CSV</li>
    </ul>
{% endblock %}

{% block body -%}
    
    {% if search.data|length > 0 %}
        <div class="mdl-cell mdl-cell--12-col">
            <section>
                {% for fieldname, value in search.data if value != '' %}
                    {% set field = attribute(form.children, fieldname) %}
                    {% set type = field.vars.block_prefixes.1 %}

                    <span class="mdl-chip">
                        <span class="mdl-chip__text">
                            <b>{{ attribute(form.children, fieldname).vars.label }}: </b>

                            {% if type == 'date' %}
                                {{ value|date('d/m/Y') }}
                            {% elseif type == 'choice' %}
                                {% if field.vars.choices[field.vars.value] is defined %}
                                    {{ field.vars.choices[field.vars.value].label }}
                                {% else %}
                                    {% for item in field.vars.choices %}
                                        {% if item.value == field.vars.value %}
                                            {{ item.label }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% elseif type == 'text' and attribute(field.vars, 'attr') is defined and attribute(field.vars.attr, 'label') is defined %}
                                {{ attribute(value, field.vars.attr.label) }}
                            {% elseif type == 'text' %}
                                {{ value }}
                            {% endif %}
                        </span>
                    </span>
                {% endfor %}
            </section>
        </div>
    {% endif %}

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            {% for column in search.columns %}
                <th class="mdl-data-table__cell--non-numeric">{{ column.label }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for row in result %}
            {% set index = loop.index %}

            <tr onclick="window.location = '{{ path(search.route, { id: row.id }) }}'">
            {% for column in search.columns %}
                <td class="{{ column.actions is defined ? '' : 'mdl-data-table__cell--non-numeric' }}">
                    {% if column.actions is defined %}
                        {% for action in column.actions %}

                            {% if action.type == 'route' %}
                                {% for argument, value in action.arguments %}
                                    {% if ':' in value %}
                                        {% set value = attribute(row, value|slice(1)) %}
                                    {% endif %}

                                    {% if argument == 'number' %}
                                        {% set action = action|merge({'arguments': {number: value}}) %}
                                    {% else %}
                                        {% set action = action|merge({'arguments': {id: value}}) %}
                                    {% endif %}
                                {% endfor %}

                                {% set action_command = path(action.route_name, action.arguments) %}
                            {% endif %}

                            <a id="list-action-{{ index }}-{{ loop.index }}"
                               href="{{ action_command }}"
                               class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-800">
                                <i class="material-icons">{{ action.icon }}</i>
                            </a>
                            <div class="mdl-tooltip"
                                 for="list-action-{{ index }}-{{ loop.index }}">
                                {{ action.label }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {# Get column final attribute #}
                        {% set layers = column.name|split('.') %}
                        {% set layer  = row %}

                        {% for attr in layers %}
                            {% set layer = attribute(layer, attr) %}
                        {% endfor %}

                        {# Field types #}
                        {% if column.type == 'array' %}
                            {% for item in layer %}
                                {% if column.translated is defined and column.translated == true %}
                                    {{ [search.translate_prefix, '.', column.name, '.', item]|join|trans }}
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                        {% elseif column.translated is defined and column.translated == true %}
                            {{ [search.translate_prefix, '.', column.name, '.', layer]|join|trans }}
                        {% elseif column.type == 'date' %}
                            {{ layer.date|date('d/m/Y') }}
                        {% elseif column.type == 'datetime' and layer != null %}
                            {{ layer.date|date('d/m/Y H:i:s') }}
                        {% elseif column.type == 'currency' %}
                            {{ layer|number_format(2, ',', '.') }}
                        {% elseif layer == '' %}
                            -
                        {% else %}
                            {{ layer }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if form is defined %}
        <div id="search-overlay" class="btw-overlay">
            {{ form_start(form, {'attr': {id: 'form-search'}}) }}
                <div class="mdl-grid">
                    {% for name, field in form.children if field.vars.block_prefixes.0 == 'form' %}
                    
                        <div class="mdl-cell {{ field.vars.attr['data-col'] is defined ? field.vars.attr['data-col'] : 'mdl-cell--6-col mdl-cell--12-col-phone' }}">
                            <div class="mdl-textfield mdl-js-textfield">
                                {{ form_label(attribute(form, name), null, {'label_attr' : {'class' : 'fake-label'}}) }}
                                {{ form_widget(attribute(form, name), {'attr' : {'class' : 'mdl-textfield__input'}}) }}
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <div style="display: none">
                    {{ form_widget(form.submit, {'attr' : {'class' : 'mdl-button mdl-js-button mdl-button--raised mdl-color--grey-800 mdl-js-ripple-effect mdl-button--accent'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
    
    <form id="form-export" method="post">
        <input id="export-data" type="hidden" name="data" />
    </form>
          
{% endblock %}

{% block fab_action %}
    {% for button in search.buttons %}
        {% if button.type == 'fab' %}
            {% include 'AppBundle:Core:fab.html.twig' with { 'fab': button } %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block modals %}
    
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/vendor/masonry/dist/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/search.js') }}"></script>
    <script src="{{ asset('assets/js/exporter.js') }}"></script>

    <script>
        search.init();
        
        try {
            search.result = JSON.parse('{{ search.toJSON()|raw }}');
        } catch (e) {
            console.error('Impossible to parse JSON result')
        }

    </script>
    
    {% if app.request.get('_route') == 'ticket' %}
        <script src="{{ asset('assets/js/ticket.js') }}"></script>
        
        <script>
            {% if app.user.isAdmin() %}
                ticket.showCardsExtraInfo();
            {% else %}
                ticket.showRatingInvitations();
            {% endif %}
        </script>
    {% endif %}
{% endblock %}