<!doctype html>
<html>
    {% include '::head.html.twig' %}
    <body>
    {% block stylesheets %}{% endblock %}

    <div class="loading-overlay">
        <div class="mdl-spinner mdl-spinner mdl-js-spinner is-active"></div>
    </div>

    <div class="btw-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="btw-header mdl-layout__header mdl-color--white mdl-color-text--grey-800">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    {% if title is defined %}
                        {{ title }}
                    {% else %}
                        Between
                    {% endif %}
                </span>
                <div class="mdl-layout-spacer"></div>
                <div id="header-actions">
                    {% block header_actions %}{% endblock %}
                </div>
            </div>
        </header>
        <div class="btw-drawer mdl-layout__drawer">
            <nav class="mdl-navigation mdl-color--grey-50 mdl-color-text--grey-400">
                <a class="mdl-navigation__link mdl-color-text--grey-800"
                    disabled="true">
                    <img src="{{ asset('assets/images/logo.png') }}" height="32">
                </a>
                <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('index') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">dashboard</i>Dashboard</a>
                <a class="mdl-navigation__link mdl-color-text--grey-800" href="javascript: notifier.view();"><i class="mdl-color-text--grey-800 material-icons" role="presentation">notifications</i><span id="notifications-badge" class="mdl-badge">Notificações</span></a>
                <hr>

                {% if 'ROLE_DEFAULT' in app.user.roles %}
                    <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('ticket') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">receipt</i>Tickets</a>
                {% else %}          
                    <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('ticket') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">receipt</i>Tickets</a>
                    <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('customer') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">business</i>Clientes</a>
                    <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('category') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">local_offer</i>Categorias</a>
                    <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('project') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">content_paste</i>Projetos</a>
                    <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('user') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">people</i>Usuários</a>
                {% endif %}

                <div class="mdl-layout-spacer"></div>
                <hr>
                <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('fos_user_profile_show') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">portrait</i>Minha conta</a>
                <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ path('fos_user_security_logout') }}"><i class="mdl-color-text--grey-800 material-icons" role="presentation">undo</i>Sair</a>
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid btw-content">

                {% block body %}{% endblock %}

                <div id="div-toast" class="mdl-js-snackbar mdl-snackbar">
                    <div class="mdl-snackbar__text"></div>
                    <button type="button" class="mdl-snackbar__action mdl-color-text--indigo"></button>
                </div>

            </div>
        </main>
    </div>

    {% block fab_action %}{% endblock %}

    <dialog id="dialog-notifications" class="mdl-dialog">
        <div class="mdl-dialog__title">Notificações</div>
        <div class="mdl-dialog__content npb"></div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col"><button id="btn-send-comment" type="button" class="mdl-button mdl-button--colored close">Fechar</button></div>
            </div>
        </div>
    </dialog>

    <div id="dialogs">
    {% block modals %}{% endblock %}
    </div>

    {% include '::foot.html.twig' %}

    {# MESSAGES #}
    {% if app.session.flashbag|length > 0 %}
        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function () {
            {% for type, flashMessage in app.session.flashbag %}
                {% for message in flashMessage %}                  
                        notifier.notify({message: '{{ message }}'}, true);
                {% endfor %}
            {% endfor %}
                    }, 1000);
                });
        </script>
    {% endif %}

    {% block scripts %}{% endblock %}
    
    <script>
        {#        notifier.data = JSON.parse('{{ notifier.get()|json_encode()|raw }}');#}
        notifier.interval = {{ notifier.interval * 1000 }};
        between.init();
    </script>
    </body>
</html>
