{% set title = 'Alterar senha' %}

{% extends '::base.html.twig' %}

{% block body %}
	<div class="mdl-card mdl-shadow--4dp">
      <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        <div class="mdl-card__supporting-text">
			{# {{ dump(form) }} #}

        	{# {{ form_widget(form) }} #}

        	{{ form_errors(form) }}
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              {# <input type="text" id="current_password" name="_current_password" required="required" class="mdl-textfield__input" /> #}
              {{ form_widget(form.current_password, {'attr': {'class': 'mdl-textfield__input'}}) }}
              <label class="mdl-textfield__label" for="current_password">Senha atual</label>
              
              {% if form_errors(form.current_password) %}
         		<span class="mdl-textfield__error">{{ form_errors(form.current_password) }}</span>
              {% endif %}
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              {# <input type="text" id="current_password" name="_current_password" required="required" class="mdl-textfield__input" /> #}
              {{ form_widget(form.plainPassword.first, {'attr': {'class': 'mdl-textfield__input'}}) }}
              <label class="mdl-textfield__label" for="{{ form.plainPassword.first.vars.id }}">Nova senha</label>

              {% if form_errors(form.plainPassword.first) %}
         		<span class="mdl-textfield__error">{{ form_errors(form.plainPassword.first) }}</span>
              {% endif %}
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              {# <input type="text" id="current_password" name="_current_password" required="required" class="mdl-textfield__input" /> #}
              {{ form_widget(form.plainPassword.second, {'attr': {'class': 'mdl-textfield__input'}}) }}
              <label class="mdl-textfield__label" for="current_password">Repita a nova senha</label>

              {% if form_errors(form.plainPassword.second) %}
         		<span class="mdl-textfield__error">{{ form_errors(form.plainPassword.second) }}</span>
              {% endif %}
            </div>

            <div style="display: none;">{{ form_rest(form) }}</div>
        </div>

        <div class="mdl-card__actions mdl-card--border">
          <input type="submit" id="_submit" name="_submit" value="Alterar" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" />
        </div>
      </form>
    </div>
{% endblock %}

{% block scripts %}
  <script>
    between.backButton('fos_user_profile_show');
  </script>
{% endblock %}