{% extends '::base.html.twig' %}

{% set form = edit_form %}

{% block body -%}
    {{ form_start(form) }}

    <div class="mdl-cell mdl-cell--12-col">

        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Informações básicas</h2>
            </div>
            <div class="mdl-card__supporting-text npt">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield">
                            <span class="fake-label">Assunto</span>
                            <span class="fake-field">{{ entity.subject }}</span>
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield">
                            <span class="fake-label">Cliente</span>
                            <span class="fake-field">{{ entity.customer.name }}</span>
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield">
                            <span class="fake-label">Criado por</span>
                            <span class="fake-field">{% if entity.createdBy.id == app.user.id %}Você{% else %}{{ entity.createdBy.name }}{% endif %}</span>
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield">
                            <span class="fake-label">Criado em</span>
                            <span class="fake-field">{{ entity.createdAt|date('d/m/Y H:i:s') }}</span>
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield">
                            <span class="fake-label">Atendente</span>
                            {% if entity.attendant == null %}
                                <span class="fake-field"><i>Aguardando atendimento</i></span>
                            {% else %}
                                <span class="fake-field">{{ entity.attendant.name }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield">
                            <span class="fake-label">Status</span>
                            <span class="fake-field">{{ ('ticket.status.' ~ entity.status)|trans }}</span>
                        </div>
                    </div>

                    {% if app.user.isAdmin() and entity.status != 'finished' %}
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                {{ form_label(form.category, null, { 'label_attr': { 'class': 'fake-label' } }) }}
                                {{ form_widget(form.category, { 'attr': { 'class': 'mdl-textfield__input' }}) }}
                                <span class="mdl-switch__label"></span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                {{ form_label(form.priority, null, { 'label_attr': { 'class': 'fake-label' } }) }}
                                {{ form_widget(form.priority, { 'attr': { 'class': 'mdl-textfield__input' }}) }}
                                <span class="mdl-switch__label"></span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                {{ form_label(form.project, null, { 'label_attr': { 'class': 'fake-label' } }) }}
                                {{ form_widget(form.project, { 'attr': { 'class': 'mdl-textfield__input' }}) }}
                                <span class="mdl-switch__label"></span>
                            </div>
                        </div>
                    {% else %}
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                            <div class="mdl-textfield mdl-js-textfield">
                                <span class="fake-label">Categoria</span>
                                <span class="fake-field">{{ entity.category.name }}</span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                            <div class="mdl-textfield mdl-js-textfield">
                                <span class="fake-label">Prioridade</span>
                                <span class="fake-field">{{ ('ticket.priority.' ~ entity.priority)|trans }}</span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
                            <div class="mdl-textfield mdl-js-textfield">
                                <span class="fake-label">Projeto</span>
                                {% if entity.project %}
                                    <span class="fake-field">{{ entity.project.name }}</span>
                                {% else %}
                                    <span class="fake-field"><i>Nenhum</i></span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    
                    {# Watchers #}
                    {% if app.user.isAdmin() %}
                        {% set watchers = entity.watchers %}
                    {% else %}
                        {% set watchers = [] %}
                        
                        {# Remove admin watchers #}
                        {% for watcher in entity.watchers %}
                            {% if watcher.isAdmin() == false %}                                
                                {% set watchers = watchers|merge([watcher]) %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <div id="ticket-watchers" class="mdl-cell mdl-cell--12-col" {% if watchers|length == 0 %}style="display: none;"{% endif %}>
                        <span id="icon-watchers" class="material-icons">visibility</span>&nbsp;

                        {% for watcher in watchers %}
                            <span class="ticket-watcher" data-id="{{ watcher.id }}">{{ watcher.name }}</span>&nbsp;
                        {% endfor %}
                    </div>
                    <div class="mdl-tooltip mdl-tooltip--top" for="icon-watchers">Observadores</div>
                </div>
            </div>
            
            {% if app.user.isAdmin() and statistics|length > 0 %} 
                <div class="mdl-card__supporting-text ticket-statistics mdl-color--blue-grey-50">
                    <div class="mdl-grid">
                        {% if statistics.wait is defined %}
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
                                <i class="material-icons">schedule</i>&nbsp;
                                <b>Tempo de espera:</b>&nbsp;{{ statistics.wait }}
                            </div>
                        {% endif %}
                        
                        {% if statistics.service is defined %}
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
                                <i class="material-icons">restore</i>&nbsp;
                                <b>Tempo de atendimento:</b>&nbsp;{{ statistics.service }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
    {% if app.user.isAdmin() %}
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text" style="overflow: initial;"><span class="mdl-badge" data-badge="{{ entity.comments|length }}">Comentários</span></h2>
                </div>
                <div class="mdl-card__menu">
                    <button type="button" id="btn-toggle-comments" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">expand_more</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--top" for="btn-toggle-comments">Exibir comentários</div>
                </div>
                
                <div id="comments" style="display: none;">
                    {% for comment in entity.comments|reverse %}
                        <div class="mdl-card__supporting-text mdl-card--border npv">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab icon-text-content">
                                        <i class="material-icons">person</i>
                                    </div>

                                    <div class="comment-content">
                                        <div class="comment-header">
                                            <b class="comment-creator">{{ comment.createdBy.name }}</b><br>
                                            <i class="comment-datetime">{{ comment.createdAt|date('d/m/Y H:i:s') }}</i>
                                        </div>                                        
                                        <div class="comment-text">{{ comment.text|nl2br }}</div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="margin-bottom: -12px;">
                <h2 class="mdl-card__title-text">Detalhamento do chamado</h2>
            </div>
            
            {% set lastDatetime = null %}

            {% for entry in entity.entries if entry.id != null %}
                <hr>
                <div class="mdl-card__supporting-text mdl-card--border npv">
                    
                    {% if app.user.isAdmin() %}
                        {% if lastDatetime != null %}
                            <div class="ticket-interval mdl-color--grey-50">
                                {{ between.formatDateDiff(lastDatetime, entry.createdAt) }}
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    <div class="mdl-grid no-padding-v ticket-entries">
                        <div class="mdl-cell mdl-cell--12-col">
                            {% if entry.action == 'finish' %}
                                <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab icon-text-content mdl-color--green">
                                    <i class="material-icons mdl-color-text--white">check</i>
                                </div>
                                
                                <div class="text-content">
                                    Chamado finalizado por <b>{% if entry.createdBy.id == app.user.id %}você{% else %}{{ entry.createdBy.name }}{% endif %}</b><br>
                                    <i>Em {{ entry.createdAt|date('d/m/Y H:i:s') }}</i>
                                </div>
                            {% elseif entry.action == 'reopen' %}
                                <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab icon-text-content mdl-color--yellow-700">
                                    <i class="material-icons mdl-color-text--white">lock_open</i>
                                </div>
                                
                                <div class="text-content">
                                    Chamado reaberto por <b>{% if entry.createdBy.id == app.user.id %}você{% else %}{{ entry.createdBy.name }}{% endif %}</b><br>
                                    <i>Em {{ entry.createdAt|date('d/m/Y H:i:s') }}</i>
                                </div>
                            {% elseif entry.action == 'take' %}
                                <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab icon-text-content mdl-color--blue-grey-300">
                                    <i class="material-icons mdl-color-text--white">person</i>
                                </div>
                                
                                <div class="text-content">
                                    Chamado assumido por <b>{% if entry.createdBy.id == app.user.id %}você{% else %}{{ entry.createdBy.name }}{% endif %}</b><br>
                                    <i>Em {{ entry.createdAt|date('d/m/Y H:i:s') }}</i>
                                </div>
                            {% elseif entry.action == 'transfer' %}
                                <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab icon-text-content mdl-color--blue-grey-300">
                                    <i class="material-icons mdl-color-text--white">forward</i>
                                </div>
                                
                                <div class="text-content">
                                    <b>{% if entry.createdBy.id == app.user.id %}Você{% else %}{{ entry.createdBy.name }}{% endif %}</b>
                                    transferiru o chamado para <b>{% if entry.directedTo.id == app.user.id %}você{% else %}{{ entry.directedTo.name }}{% endif %}</b><br>
                                    <i>Em {{ entry.createdAt|date('d/m/Y H:i:s') }}</i>
                                </div>
                            {% elseif entry.action == 'post' %}                                
                                <div class=" icon-text-content">
                                    {% if entry.origin == 'customer' %}
                                        <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--indigo">
                                            <i class="material-icons mdl-color-text--white">face</i>
                                        </div>
                                    {% elseif entry.origin == 'admin' %}
                                        <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--blue-grey">
                                            <i class="material-icons mdl-color-text--white">mood</i>
                                        </div>
                                    {% elseif entry.origin == 'system' %}
                                        memory
                                    {% endif %}
                                        
                                </div>

                                <div class="text-content">
                                    {{ entry.text|nl2br }}

                                    <div class="ticket-footer">
                                        Postado por <b>{% if entry.createdBy.id == app.user.id %}você{% else %}{{ entry.createdBy.name }}{% endif %}</b><br>
                                        <i>Em {{ entry.createdAt|date('d/m/Y H:i:s') }}</i>

                                        {% if entry.files != null %}
                                            <ul class="ticket-entry-files">
                                                {% set files = entry.filesObject() %}

                                                {% for file in files %}
                                                    <li class="mdl-shadow--2dp" style="background-image: url('{{ asset('attachments/' ~ entity.id ~ '/' ~ file.name) }}')">
                                                        <div class="ticket-file-label">
                                                            <div class="ticket-file-name">{{ file.originalName }}</div>
                                                            <div class="ticket-file-buttons">
                                                                <a href="{{ path('entry_filedownload', { id: entry.id, fileName: file.name }) }}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--amber-900 mdl-color-text--white">
                                                                    <i class="material-icons">file_download</i>
                                                                </a>
                                                                <a href="{{ asset('attachments/' ~ entity.id ~ '/' ~ file.name) }}" target="_blank" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--amber-900 mdl-color-text--white">
                                                                    <i class="material-icons">search</i>
                                                                </a>
                                                            </div>                                                        
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                        
                {% set lastDatetime = entry.createdAt %}
            {% endfor %}

            {% if entity.finishedAt == null %}
                {% for entry in form.entries %}
                    {% if loop.last %}
                        <hr>
                        <div class="mdl-card__supporting-text mdl-card--border npv">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col" style="position: relative;">
                                    <div class="mdl-textfield mdl-js-textfield" style="margin-top: -30px;">
                                        {{ form_widget(entry.text, { 'attr': { 'class': 'mdl-textfield__input', 'rows': 10 }}) }}
                                        {{ form_label(entry.text, null, { 'label_attr': { 'class': 'mdl-textfield__label', 'for': entry.text.vars.id } }) }}
                                    </div>

                                    {# {% if 'ROLE_DEFAULT' in app.user.roles %}
                                            <button id="btn-send-message" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--amber-900 mdl-color-text--white">
                                                    <i class="material-icons">send</i>
                                            </button>
                                    {% endif %} #}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>

    </div>

    <div style="display: none;">
        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}
    
    <dialog id="dialog-transfer" class="mdl-dialog">
        <div class="mdl-dialog__title">Tranferir chamado</div>
        <div class="mdl-dialog__content npb">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">Informe o usuário para o qual o chamado será transferido:</div>
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield">
                        <select id="transfer-user" class="mdl-textfield__input">
                            <option value="">Selecione um usuário</option>
                            {% for user in users %}
                                <option value="{{user.id}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>               
                </div>
            </div>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <button type="button" class="mdl-button close">Cancelar</button>
                    <button id="btn-transfer-ticket" type="button" class="mdl-button mdl-button--colored">Transferir</button>
                </div>
            </div>
        </div>
    </dialog>
                            
    <dialog id="dialog-new-comment" class="mdl-dialog">
        <div class="mdl-dialog__title">Adicionar comentário</div>
        <div class="mdl-dialog__content npb">
            <div class="mdl-textfield mdl-js-textfield npv">
                <textarea id="comment" class="mdl-textfield__input" rows="6" placeholder="Escreva seu comentário"></textarea>
            </div>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <button type="button" class="mdl-button close">Cancelar</button>
                    <button id="btn-send-comment" type="button" class="mdl-button mdl-button--colored">Enviar</button>
                </div>
            </div>
        </div>
    </dialog>
{% endblock %}

{% block fab_action %}
    {% if entity.status != 'finished' or app.user.isAdmin() %}
        {% set fab = {'icon': 'more_vert', 'label': 'Mais ações'} %}

        {% set buttons = [] %}        
        
        {% set watcher = { icon: 'visibility', label: 'Acompanhar este chamado' } %}
        {% set stop = false %}

        {% for item in entity.watchers if stop == false %}
            {% if app.user.id == item.id %}
                {% set watcher = { icon: 'visibility_off', label: 'Deixar de acompanhar' } %}
                {% set stop = true %}
            {% endif %}
        {% endfor %}

        {% set buttons = buttons|merge([{'id': 'btn-watcher', 'icon': watcher.icon, 'label': watcher.label, 'action_type': 'javascript', 'action': 'ticket.watcher()'}]) %}
        
        {% if app.user.isAdmin() %}
            {% set buttons = buttons|merge([{'id': 'btn-new-comment', 'icon': 'comment', 'label': 'Adicionar comentário', 'action_type': 'javascript', 'action': 'ticket.openCommentDialog()'}]) %}
        {% endif %}
            
        {% if entity.status != 'finished' %}
            {% set buttons = buttons|merge([{'icon': 'done', 'label': 'Finalizar chamado', 'action_type': 'javascript', 'action': 'ticket.finish()'}]) %}
        {% elseif app.user.isAdmin() %}
            {% set buttons = buttons|merge([{'icon': 'lock_open', 'label': 'Reabrir chamado', 'action_type': 'javascript', 'action': 'ticket.reopen()'}]) %}
        {% endif %}

        {% if entity.status != 'finished' and app.user.isAdmin() %}
            {% if entity.attendant == null %}
                {% set buttons = buttons|merge([{'icon': 'person', 'label': 'Assumir chamado', 'action_type': 'javascript', 'action': 'ticket.transfer('~ app.user.id ~')'}]) %}
            {% endif %}
            
{#            {% if entity.attendant == null or (entity.attendant != null and entity.attendant.id == app.user.id) %}#}
                {% set buttons = buttons|merge([{'icon': 'forward', 'label': 'Transferir', 'action_type': 'javascript', 'action': 'ticket.openTransferDialog()'}]) %}
{#            {% else %}#}
                
{#            {% endif %}#}
        {% endif %}

        {% if entity.status != 'finished' %}
            {% set buttons = buttons|merge([{'icon': 'attach_file', 'label': 'Anexar arquivos', 'action_type': 'javascript', 'action': '$(\'input[type=file]:last\').trigger(\'click\')'}]) %}
        {% endif %}
        
        {% include 'AppBundle:Core:fab.html.twig' with { 'fab': fab, 'buttons': buttons } %}
    {% endif %}
{% endblock %} 

{% block header_actions %}
    {% if entity.status != 'finished' %}
        {% set buttons = [] %}
        {% set buttons = buttons|merge([{ 'icon': 'save', 'action_type': 'javascript', 'action': 'between.formSubmit("' ~ form.vars.name ~ '")', 'label': 'Salvar' }]) %}

        {% include 'AppBundle:Core:header-actions.html.twig' with { 'buttons': buttons } %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/ticket.js') }}"></script>
    <script src="{{ asset('assets/js/comment.js') }}"></script>

    {% set route = app.request.get('_route')|split('_') %}

    <script>
        between.backButton('{{ route.0 }}');
        ticket.id = '{{ entity.id}}';
        ticket.number = '{{ entity.number }}';
        ticket.init();
    </script>
{% endblock %}
